<!DOCTYPE ejs>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scenarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <header class="nav-container"><%- include("nav.ejs", {}) %></header>
    <div class="main-container">
        <div class="title"><p>Welcome to the website of CN Localized COC TRPG! It is designed for players of the Call of Cthulhu tabletop RPG, blending Cthulhu Mythos with Chinese folklore and supernatural elements. Here, you'll find original Chinese localized scenarios all rooted in rich narratives and unique settings. Our goal is to provide a platform for players to explore, review, and create scenarios that merge ancient Chinese traditions with cosmic horror, fostering a localized role-playing experience for all.</p></div>
    </div>
</body>
</html>