<!DOCTYPE ejs>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <header class="nav-container"><%- include("nav.ejs", {}) %></header>
    <div class="title">
        <h1>About Us!
        </h1>
      </div>
    <div class="main-container">
        <div class="item-image"><img src="images/dice.png" alt="dice"></div>
        <div class="info-container"><div class="info-text">
            <h1>CN Localized COC TRPG / 中式跑团</h1>
            <h2>Wanna Join Our Sessions? Contact QQ:2894204620!</h2>
            <p>Welcome to the website of CN Localized COC TRPG! 
            It is designed for players of the Call of Cthulhu tabletop RPG, 
            blending Cthulhu Mythos with Chinese folklore and supernatural elements. 
            Here, you'll find original Chinese localized scenarios all rooted in rich narratives and unique settings. 
            Our goal is to provide a platform for players to explore, review, 
            and create scenarios that merge ancient Chinese traditions with cosmic horror, 
            fostering a localized role-playing experience for all.</p></div></div>
    </div>
    <div class="main-container">
        <div class="item-image"><img src="images/kp.jpg" alt="kp"></div>
        <div class="info-container"><div class="info-text">
            <h1>结社:菱 / Studio: Zero</h1>
            <p>This is a mini-studio made up of veteran COC session keepers, experienced painters and tabletop RPG veterans. 
                Currently running their own tabletop game store and taking on TRPG session running duties. 
                While using existing scenarios and rulebooks to run sessions, they also create their own scenarios 
                and mods based on existing scenarios and mods or new scenarios and mods based on completely original worldviews. 
                while they have a wealth of experience in tabletop RPGs such as COC and DND, the members of the studio also want to 
                promote Chinese traditional culture, so The members of this studio also want to promote traditional Chinese culture, 
                so they have written and organized a lot of scenarios combining 
                Chinese folk culture and traditional Cthulhu culture, which are posted on this website.</p></div></div>
    </div>
</body>
</html>