<div class="nav-container">
  <div class="logo"> <img src="dice.png" alt="Dice"> <h1> CN Localized COC TRPG 中式跑团</h1></div>
    <div class="headerLinks">
      <div class="links"><a href="/"><p>HOME</p></a></div>
      <div class="links"><a href="/posts"><p>POSTS</p></a></div>
      <div class="links"><a href="/scripts"><p>SCRIPTS</p></a></div>
      <div class="links"><a href="/"><p>ABOUT</p></a></div></div>
  </div>