<!DOCTYPE ejs>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scenarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <title>Scenarios</title>
</head>
<body>
    <header class="nav-container"><%- include("nav.ejs", {}) %></header>
    <div class="title"><h1>All Scenarios 全部团本</h1></div>
    <div class="main-container">
        <div  class="item-image"><img src="/images/qihua.jpg" alt="QIHUA"></div>
        <div class="scene">
            <div class="scene-title"><h1>七华寻宝记<br>Adventure in CHI HUA </h1></div>
            <div class="scene-text"><h2>COC Scenario - CN Localized Mod</h2></div>
            <div class="scene-text"><h2>Author: 旗语 Keeper Dusk</h2></div>
            <div class="scene-text"><p>Originally titled “The Underground Chi Hua”, COC7th rules are used to incorporate elements related to traditional Chinese folklore and Taoism. Investigators will enter a small town called Chi Hua Village to investigate a case spanning hundreds of years of history, encountering all kinds of people and incredible phenomena, and meeting the depraved and unnameable side of traditional beliefs about deities. During the story, the investigator can also choose to add relevant content to the Ruins 1.0 rulebook, further expanding and perfecting the worldview, as well as more skills and encounters waiting to be learned and explored by the investigator!</p></div>
        </div>
    </div>
    <div class="main-container">
        <div  class="item-image"><img src="/images/jiebei.jpg" alt="QIHUA"></div>
        <div class="scene">
            <div class="scene-title"><h1>界碑<br>The Boundary Monument </h1></div>
            <div class="scene-text"><h2>COC Scenario - CN Localized Mod</h2></div>
            <div class="scene-text"><h2>Author: 旗语 Keeper Dusk</h2></div>
            <div class="scene-text"><p>“The Boundary Monument” 
                is a purely original Chinese localized COC scenario MOD covering a 
                large number of mythological allusions related to the Classic of 
                Mountains and Seas as well as the original mythological system: 
                the Upper Three Pristine Ones. Using the Ruins 1.2 rulebook, 
                the scenario MOD blends COC and DND features, adding more combat 
                elements as well as more original skills and events to the rich 
                exploration.  The investigators will explore the secret secrets before the birth of the 
                world, dual-line exploration of the investigative experience will 
                also make the investigators refreshingly different events 
                interlocking, and ultimately, to find what hidden behind the sun is the boundless madness or there is a ray of hope.</p></div>
        </div>
    </div>
    <div class="main-container">
        <div  class="item-image"><img src="/images/hongzhu.jpg" alt="QIHUA"></div>
        <div class="scene">
            <div class="scene-title"><h1>红烛<br>The Red Candle </h1></div>
            <div class="scene-text"><h2>COC Scenario - CN Localized Mod</h2></div>
            <div class="scene-text"><h2>Author: 荀子 Xun Zi</h2></div>
            <div class="scene-text"><p>A CNC scenario Mod based on COC 7th edition rules. In the first half of the 20th century in the disaster-stricken town of China's 18th line - Au Tuo Town, all of them are a piece of lost oracle bone and involved in a crisis, the investigator will carry out investigations about the local events and break the conspiracy outside the crisis. The mod contains a trace of combat elements, suitable for players who have some experience in running the game, the investigator will gradually discover its internal secrets, to find the motivation to move forward, as well as, choose the path they want.</p></div>
        </div>
    </div>
    <div class="main-container">
        <div  class="item-image"><img src="/images/futu.jpg" alt="QIHUA"></div>
        <div class="scene">
            <div class="scene-title"><h1>浮屠镇邪<br>The Pagoda of Exorcism</h1></div>
            <div class="scene-text"><h2>COC Scenario - CN Localized Mod</h2></div>
            <div class="scene-text"><h2>Author: 高阙凉 Queliang Gao</h2></div>
            <div class="scene-text"><p>The Buddhist scriptures have a saying:
                “Injustice and wrongdoing are repeated in a cycle of cause and effect; retribution is not a matter of concern to heaven and earth.”
                The investigators, who were tourists, gathered to travel on Mount Heshan, which had only been unsealed due to the epidemic.
                Unexpectedly, heavy rain poured down and the mountain road was closed, the people were forced to be stranded in the mountain and had to go up to the mountain to discover a temple for temporary accommodation.
                Murdered monks, bizarre dreams, the temple's hidden secrets ...... a treacherous and bizarre conspiracy is quietly brewing in the midst of the storm!</p></div>
        </div>
    </div>
</body>
</html>