<!DOCTYPE ejs>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scripts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <title>Scripts</title>
</head>
<body>
    <header class="nav-container"><%- include("nav.ejs", {}) %></header>
    <div class="title"><h1>All Scripts 全部团本</h1></div>
    <div class="main-container">
        <div  class="item-image"><img src="/images/qihua.jpg" alt="QIHUA"></div>
        <div class="script">
            <div class="script-title"><h1>七华寻宝记<br>Adventure in CHI HUA </h1></div>
            <div class="script-text"><h2>CN Localized COC Script</h2></div>
            <div class="script-text"><p>CN Localized COC ScriptCN Localized COC ScriptCN Localized COC ScriptCN Localized COC ScriptCN Localized COC Script真好真好真好</p></div>
        </div>
    </div>
</body>
</html>