
@font-face {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    src: url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=ZCOOL+XiaoWei&display=swap');
    unicode-range: U+30-39;
}

@font-face {
    font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@600&family=Protest+Guerrilla&display=swap');
    unicode-range: U+2018, U+2019, U+201C, U+201D; 
}
body {
    /* ensuring body element fills entire window of screen */
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url('/contour-lines.png') ;
    background-repeat: repeat;
    background-size: cover;
    color: #1c2541;
}

div{
    border: 1px solid #ef233c;
}

.occupie{
    background-color: #ffffff; 
    border-bottom: 1px solid #dcdcdc;
    height: 7vh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 20px;
}

.nav {
    position: fixed;
    z-index: 101;
    background-color: #ffffff; 
    border-bottom: 1px solid #dcdcdc;
    color: #1c2541; 
    height: 7vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.nav a {
    text-decoration: none;
    color: #1c2541;
    font-weight: bold;
    padding: 5px 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav a:hover {
    color: #ef233c;
    border-bottom: 0px
}

.nav .logo{
    width: 40%;
    display: flex;
    align-items: center;
    color:#fadebd;
}

.nav .logo img{
    max-width: 25%;  
    max-height: 100%;  
    object-fit:cover;
}

input[type="submit"] {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 0.25vh solid #2f4c79;
    background: transparent; 
    background-color: #d7ab61;
    color: #1c2541;
    padding: 1vh 0.75vw;
    font-weight: bold;
    font-size: 1.5vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background: #2f4c79;
    color: #ffffff;
}

input[type="text"]{
    border:0.25vh solid #2f4c79;
    display: inline-flex;
    background: transparent;
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    color: #d7ab61;
    padding: 1vh 0.75vw;
    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    resize: vertical;
    transition: height 0.3s ease, padding 0.5s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #393c45;
    padding: 1.2vh 0.9vw;
    box-shadow: 0 0 8px rgba(162, 178, 205, 0.8);
    outline: none;
}
input[type="text"]:hover {
    padding: 1.2vh 0.9vw;
    box-shadow: 0 0 8px rgba(162, 178, 205, 0.8);
    outline: none;
}

.form-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.all-posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap:1.25vw;
}

.post {
    width: 40vw;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    display: block;
}

.post h1 {
    font-size: 1.5vw;
    color: #1c2541;
    font-weight: bold;
}

.post p {
    display: flex;
    align-items: center;
}

.starmap {
    background-color: #1c2541;
    background: url('/starfield-stars.png') no-repeat center center;
    background-size: cover; 
    width: 95%;
    height: 50vh;
    position: relative;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.4);
    overflow: hidden;
    pointer-events: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.interest-like-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    background: linear-gradient(165deg,#001024, #003472, #ffffff);
    outline: 0.3vh solid #003472;
    border: 0.3vh solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-out, height 0.3s ease-out, transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 100;
    pointer-events: auto;
    user-select: none;
}

.interest-like-btn:hover {
    transform: scale(1.2);
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.6);
}

.interest-like-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.6);
}

.interest-like-btn:focus {
    outline: none;
}

.tip {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #1c2541;
    padding: 0.2vw 1vh;
    border-radius: 0.5vh;
    font-size: 1.25vh;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    user-select: none;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.interest-like-btn:hover .likes {
    opacity: 0;
}

.interest-like-btn:hover .tip {
    opacity: 1;
    top: -50%;
}


.likes {
    color: #ffffff;
    margin: 0;
    transition: opacity 0.3s ease;
}

.line {
    position: absolute;
    height: 2px;
    background-color: #48cae4;
    transform-origin: 0 50%;
    opacity: 0.8;
}