
@font-face {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    src: url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=ZCOOL+XiaoWei&display=swap');
    unicode-range: U+30-39;
}

@font-face {
    font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@600&family=Protest+Guerrilla&display=swap');
    unicode-range: U+2018, U+2019, U+201C, U+201D; 
}
body {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url('/contour-lines.png') ;
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
    color: #1c2541;
}


a{
    text-decoration: none;
}

.about-container {
    width: 80%;
    margin: 5vh auto;
    background-color: #ffffff;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
    padding: 3vh;
    border-radius: 2vh;
    text-align: center;
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    color: #1c2541;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.about-container h1 {
    font-size: 3vh;
    color: #1c2541;
    font-weight: bold;
}

.about-container p {
    font-size: 1.8vh;
    color: #4f4f4f;
    margin: 0 auto 2vh auto;
    max-width: 70%;
    line-height: 1.8;
}

.about-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vw;
    width: 100%;
}

.about-box {
    flex: 1 1 30%;
    max-width: 30%;
    background-color: #f7f9fc;
    border: 0.5vh solid #d7ab61;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    padding: 2vh;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.about-box h2 {
    font-size: 2vh;
    color: #1c2541;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.about-box p {
    font-size: 1.5vh;
    color: #4f4f4f;
    line-height: 1.6;
}

.about-box:hover {
    transform: scale(1.05);
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.2);
    border-color: #2f4c79;
}


.occupie{
    background-color: #ffffff; 
    height: 9vh;
    width: 100%;
    top: 0;
    left: 0;
}

.visits-counter{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    position: fixed;
    z-index: 101;
    background-color: #ffffff; 
    border-bottom: 1px solid #dcdcdc;
    color: #1c2541; 
    height: 9vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.nav .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10vw;
}

.nav .logo img{
    max-width: 100%;  
    max-height: 100%;  
    object-fit:cover;
}

.nav-link {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: transparent; 
    color: #1c2541;
    padding: 0vh 0.75vw;
    font-weight: bold;
    font-size: 1.8vh;
    cursor: pointer;
    border: none;
    height: 100%;
    color: #1c2541;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease
}

.nav-name {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    background: transparent; 
    color: #1c2541;
    padding: 1vh 0.75vw;
    font-weight: bold;
    font-size: 1.5vh;
    cursor: pointer;
    border: none;
    height: 100%;
    color: #1c2541;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease
}

.nav-link a:hover {
    color: #ffffff;
    text-decoration: none;
}


.nav-link:hover {
    background: #d7ab61;
    color: #ffffff;
}

.login-container {
    width: 40%;
    margin: 5vh auto;
    background-color: #ffffff;
    border-radius: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
    padding: 2vh;
    text-align: center;
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    color: #1c2541;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.login-container h1 {
    font-size: 2.5vh;
    color: #1c2541;
    font-weight: bold;
    margin-bottom: 2vh;
}

.login-container form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.login-container input[type="text"]{
    border: 0.25vh solid #2f4c79;
    background: transparent;
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    color: #1c2541;
    padding: 1vh 0.75vw;
    border-radius: 1vh;
    transition: all 0.3s ease;
}
.login-container input[type="password"]{
    border: 0.25vh solid #2f4c79;
    background: transparent;
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    color: #1c2541;
    padding: 1vh 0.75vw;
    border-radius: 1vh;
    transition: all 0.3s ease;
}

.login-container input[type="text"]:focus{
    border-color: #393c45;
    padding: 1.2vh 0.9vw;
    box-shadow: 0 0 8px rgba(162, 178, 205, 0.8);
    outline: none;
}
.login-container input[type="password"]:focus{
    border-color: #393c45;
    padding: 1.2vh 0.9vw;
    box-shadow: 0 0 8px rgba(162, 178, 205, 0.8);
    outline: none;
}

.login-container a {
    color: #d7ab61;
    font-size: 1.5vh;
    text-decoration: none;
    margin-top: 2vh;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #2f4c79;
}

.register-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
}

.register-content-container input[type="text"],
.register-content-container input[type="password"] {
    width: 100%;
}

input[type="file"] {
    display: none;
}



input[type="submit"] {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: 0.25vh solid #2f4c79;
    background: transparent; 
    background-color: #d7ab61;
    color: #1c2541;
    padding: 1vh 0.75vw;
    font-weight: bold;
    font-size: 1.5vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background: #2f4c79;
    color: #ffffff;
}

input[type="text"]{
    border:0.25vh solid #2f4c79;
    display: inline-flex;
    background: transparent;
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    color: #d7ab61;
    padding: 1vh 0.75vw;
    white-space: pre-wrap; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    resize: vertical;
    transition: height 0.3s ease, padding 0.5s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus {
    border-color: #393c45;
    padding: 1.2vh 0.9vw;
    box-shadow: 0 0 8px rgba(162, 178, 205, 0.8);
    outline: none;
}
input[type="text"]:hover {
    padding: 1.2vh 0.9vw;
    box-shadow: 0 0 8px rgba(162, 178, 205, 0.8);
    outline: none;
}

.form-container{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search-container {
    width: 100%;
    padding: 1vh;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.search-container form {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.search-label {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    font-weight: bold;
    color: #1c2541;
}

.search-select {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    font-weight: 500;
    color: #1c2541;
    padding: 1vh;
    border: 0.4vh solid #d7ab61;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.search-select:hover,
.search-select:focus {
    border-color: #2f4c79;
    outline: none;
    box-shadow: 0 0 0.5vh rgba(162, 178, 205, 0.8);
}

#top-search-bar {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    color: #1c2541;
    padding: 1vh;
    width: 20vw;
    border: 0.4vh solid #2f4c79;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

#top-search-bar:focus,
#top-search-bar:hover {
    border-color: #d7ab61;
    outline: none;
    box-shadow: 0 0 0.5vh rgba(162, 178, 205, 0.8);
}

#notification-container{
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.all-posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap:1.25vw;
}

.post {
    width: 40vw;
    background-color: #ffffff;
    border-radius: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
    padding: 2vh;
    margin: 1.5vh;
    display: block;
}

.post h1 {
    font-size: 2vw;
    color: #1c2541;
    font-weight: bold;
}

.post p {
    display: flex;
    align-items: center;
}

.post-owner{
    margin: 0%;
    font-size: 2vh;
}

.date{
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

.starmap {
    background-color: #1c2541;
    background: url('/starfield-stars.png') no-repeat center center;
    background-size: cover; 
    width: 95%;
    height: 50vh;
    position: relative;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.4);
    overflow: hidden;
    pointer-events: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}

.interest-like-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    background: linear-gradient(165deg,#001024, #003472, #ffffff);
    outline: 0.3vh solid #003472;
    border: 0.3vh solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-out, height 0.3s ease-out, background-color 0.3s ease-out, outline 0.3s ease-out, transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 100;
    pointer-events: auto;
    user-select: none;
}

.interest-like-btn:hover {
    transform: scale(1.2);
    background: linear-gradient(165deg,#fadebd, #d7ab61, #150e04);
    outline: 0.2vh solid #d7ab61;
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.6);
}

.interest-like-btn:active {
    transform: scale(0.95);
    box-shadow: 0 0 1vh rgba(255, 255, 255, 0.6);
}

.interest-like-btn:focus {
    outline: none;
}

.tip {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #1c2541;
    padding: 0.2vw 1vh;
    border-radius: 0.5vh;
    font-size: 1.25vh;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    user-select: none;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.interest-like-btn:hover .likes {
    opacity: 0;
}

.interest-like-btn:hover .tip {
    opacity: 1;
    top: -50%;
}


.likes {
    color: #ffffff;
    margin: 0;
    transition: opacity 0.3s ease;
}

.starmap-create-container {
    width: 80vh;
    height: 80vh;
    margin: 5vh auto;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    overflow: hidden;
    border: 0.5vh solid #2f4c79;
}

.starmap-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    gap: 1.5vh;
}

.starmap-create-title {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 3vh;
    font-weight: bold;
    color: #d7ab61;
}

.starmap-create-form input[type="text"]{
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    border-radius: 0.5vh;
    padding: 1vh 1.5vw;
    border: 0.3vh solid #2f4c79;
    background: transparent;
    color: #2f4c79;
    width: 80%;
    text-align: center;
    transition: all 0.3s ease;
}

.starmap-create-form input[type="text"]:focus {
    outline: none;
    border-color: #d7ab61;
    box-shadow: 0 0 0.5vh rgba(255, 255, 255, 0.8);
}


.starmap-create-form label {
    font-family: "Afacad Flux", "Noto Sans SC", sans-serif;
    font-size: 1.5vh;
    color: #ffffff;
    font-weight: bold;
}

.submit-container {
    margin-top: 2vh;
}