<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    hi
    <% message.forEach((m)=>{ %> 
    <% if(m.visible){ %>
        <h2><%=m.note %></h2>
        <% }else{ %>
            <h2>youCantSeeThis</h2>
        <% } } ) %>
    
</body>
</html>