<head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@600&family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="occupie"></div>
    <div class="about-container">
        <h1>About The Ideal Galaxy</h1>
        <p>Welcome to the Ideal Galaxy, Voyagers! Here's your platform to share interests and connect with others in a constellation of ideas.</p>
        <div class="about-grid">
            <div class="about-box">
                <h2>Explore Starmaps</h2>
                <p>Navigate through starmaps filled with interests shared by other users. Each map is unique and represents a constellation of ideas and passions.</p>
            </div>
            <div class="about-box">
                <h2>Share Your Galaxy</h2>
                <p>Create your own starmap by adding a theme and up to five interests. Watch as others engage with your ideas and expand your galaxy. Note: Please be as short as possible.</p>
            </div>
            <div class="about-box">
                <h2>Connect with Others</h2>
                <p>Like interests by pointing the stars, and see the active update now! Leave comments, and engage in meaningful discussions. Build connections and grow your Ideal Galaxy together.</p>
            </div>
        </div>
    </div>
</body>
