*{
    padding: 0;
    margin: 0;
}
.anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
body{
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    transition: background-color 1s ease;

}
.current{
    height: 55vh;
    display: flex;
    text-align: center;
    justify-content: center;
}
.current p{
    position: relative;
    margin: 0;
    line-height: 40vh;
    letter-spacing: 1.15vw;
    font-size: 12vw;
    color: #FF6978;
}

.box1{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 75vw;
    height: 40vh;
    background-color:#fff0f0;
    padding: 2vw, 2vh;
    border-radius: 5vw;
    transition: background-color 1s ease;
}

.next{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1vw;
    font-size: 2.5vw;
    color: #FF6978;;
}
.next h2{
    font-weight: 400;
    font-size: 4.5vw;
    letter-spacing: 0.3vw;
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1vw;
    font-size: 6vw;
    text-align: center;
    letter-spacing: 0.6vw;
    color: #fff0f0;
}

.box2{
    height: 5vw;
    text-align: center;
    text-decoration: none;
    padding: 0.5vw;
}

button {
    font-family: "Anonymous Pro", monospace;
    background-color: #df3b57;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1vw;
    font-size: 1.5vw;
    transition: background-color 0.5s ease, font-size 0.5s ease, color 0.5s ease;
    border-radius: 1.5vw;
}
button:hover {
    background-color: #fff0f0;
    font-size: 2.2vw;
    color: #FF6978;
}

button:active {
    background-color: #39151b;
}