<head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@600&family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('nav-guest.ejs') %>
    <div class="occupie"></div>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST" action="/authenticate">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="submit" name="submitbutton" value="login" class="submit-btn">      
        </form>
    </div>
    <a href="/register"> <div class="login-container"><p>Have no account?<br>Register and join our Ideal Galaxy, Voyager!</p></div></a>
</body>