<head>
    <link rel="stylesheet" href="style.css">
</head>

<div class="nav">
    <div class="logo"><img src="/logo.png" alt="logo"></div>
<a href="/"><div class="nav-link">Into The Galaxy</div></a>
<a href="/register"><div class="nav-link">Register</div></a>
<a href="/login"><div class="nav-link">Login</div></a>
    <div class="nav-name"><h2>Welcome to the Galaxy, Please <a href="/login">Sign In</a></h2></div>
</div>