<div class="nav">
    <div class="logo"><img src="/logo.png" alt="logo"></div>
<a href="/about"><div class="nav-link">About</div></a>
<a href="/"><div class="nav-link">View The Galaxy</div></a>
<a href="/starmap"><div class="nav-link">Create A Starmap</div></a>
<a href="/logout"><div class="nav-link">Logout</div></a>
    <div class="nav-name"><h2>Welcome to the Galaxy, <%= username %></h2></div>
</div>