<head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@600&family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('nav-guest.ejs') %>
    <div class="occupie"></div>
<div class="login-container">
    <h1> Register for a new account, Voyager!</h1>
    <form method="POST" action="/signup" enctype="multipart/form-data">
        <div class="register-content-container">
            <input type="text" name="fullname" placeholder="your full name" class="login-full-name">

            <input type="text" name="username" placeholder="choose a username" class="login-username">

            <input type="password" name="password" placeholder="choose a password" class="login-password">
            <input type="submit" name="submitbutton" value="Make my Account!" class="submit-btn">
        </div>
    </form>
</div>
</body>